[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
altair = "*"
beautifulsoup4 = "*"
bokeh = "*"
bqplot = "*"
ccxt = "*"
datashader = "*"
faker = "*"
holoviews = "*"
hvplot = "*"
ipydagred3 = "*"
ipylab = "*"
ipyleaflet = "*"
ipympl = "*"
ipysheet = "*"
ipywidgets = "*"
jupyterlab = ">=4.6.2"
jupyterlab-nbconvert-nocode = "*"
jupyterlab-templates = "*"
matplotlib = "*"
mimesis = "*"
nbdime = "*"
nbresuse = "*"
numba = "*"
numpy = "*"
openpyxl = "*"
pandas = ">=1"
pandoc = "*"
panel = "*"
papermill = "*"
perspective-python = "*"
plotly = "*"
pyarrow = ">=14.0.1"
pyviz-comms = "*"
qgrid = "*"
requests = ">=2.32.4"
scikit-learn = "*"
scipy = "*"
seaborn = "*"
sidecar = "*"
sqlalchemy = ">=1.3.0"
statsmodels = "*"
sympy = "*"
tensorboard = "*"
tensorboard-plugin-wit = "*"
tensorflow = "*"
tensorflow-estimator = "*"
vapeplot = "*"
vega = "*"
voila = ">=0.5.6"

[dev-packages]

[requires]
python_version = "3.11"
